# Day1宿題 - 鈴木雅彦

## 1. 課題のデータをダウンロードする

1. Kaggleにアカウントを作成する
1. [Kickstarter Projects | Kaggle](https://www.kaggle.com/kemical/kickstarter-projects) を開く
1. Download Allのリンクからファイルをダウンロードする
1. ZIPを解凍して作業用ディレクトリに配置する
~~~sh
$ unzip kickstarter-projects.zip
$ mv ks-projects-*.csv ~/Desktop/ml_tokyo_8/git/data/
~~~

## 2. 変数の関係を関係をグラフで確認する

Pythonライブラリを読み込む。いつものやつ

In [9]:
%matplotlib inline
import pandas as pd
display(pd.__version__)
import numpy as np
display(np.__version__)
import matplotlib.pyplot as plt
display(plt)
from sklearn.linear_model import LinearRegression as lr
display(lr)

'0.23.4'

'1.15.2'

sklearn.linear_model.base.LinearRegression

In [67]:
# CSVファイルをPandas DataFrameとして読み込む
df = pd.read_csv(
    './data/ks-projects-201612.csv',
    encoding = "Windows-1252"
)
# encodingパラメタを指定しないと以下のエラーが出る
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 11: invalid start byte
# https://medium.com/@eliezerfb/dicas-de-data-cleaning-44d050e712bc

# dtypeパラメタを指定しないとほとんどのカラムがobject型になってしまう
# DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
# https://note.nkmk.me/python-pandas-dtype-astype/

In [82]:
# DataFrameの中身を確認
# https://qiita.com/ysdyt/items/9ccca82fc5b504e7913a
# https://qiita.com/TomokIshii/items/c7c704f22edfebf7f133

print('先頭10行')
display(df.head(10))
print('末尾3行')
display(df.tail(3))

print('行数・列数の確認')
display(df.shape)

print('indexの確認')
display(df.index)
# 'ID ' 名前の後ろに変なスペースが入ってる。気持ち悪いなぁ、気を付けて使おう

print('columnの確認')
display(df.columns)
print('各列のデータ型を確認')
display(df.dtypes)

print('各列の個数を確認')
display(df.count())

print('各列の欠損値の数を確認')
display(df.isnull().sum())
# ちょこちょこ欠損があるようで。大丈夫かしら、確認しよう

先頭10行

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
5,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205,NaN,NaN,NaN,NaN
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453,NaN,NaN,NaN,NaN
7,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29 18:14:43,125000,2014-04-24 18:14:43,8233,canceled,58,US,8233,NaN,NaN,NaN,NaN
8,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10 21:55:48,65000,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,NaN,NaN,NaN,NaN
9,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0,NaN,NaN,NaN,NaN

末尾3行

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000,2010-07-01 19:40:30,20,failed,1,US,20,NaN,NaN,NaN,NaN
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000,2016-01-13 18:13:53,200,failed,6,US,200,NaN,NaN,NaN,NaN
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000,2011-07-19 09:07:47,524,failed,17,US,524,NaN,NaN,NaN,NaN

行数・列数の確認

(323750, 17)

indexの確認

RangeIndex(start=0, stop=323750, step=1)

columnの確認

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged ', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

各列のデータ型を確認

ID                  int64
name               object
category           object
main_category      object
currency           object
deadline           object
goal               object
launched           object
pledged            object
state              object
backers            object
country            object
usd pledged        object
Unnamed: 13        object
Unnamed: 14        object
Unnamed: 15        object
Unnamed: 16       float64
dtype: object

各列の個数を確認

ID                323750
name              323746
category          323745
main_category     323750
currency          323750
deadline          323750
goal              323750
launched          323750
pledged           323750
state             323750
backers           323750
country           323750
usd pledged       319960
Unnamed: 13          625
Unnamed: 14           12
Unnamed: 15            4
Unnamed: 16            1
dtype: int64

各列の欠損値の数を確認

ID                     0
name                   4
category               5
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3790
Unnamed: 13       323125
Unnamed: 14       323738
Unnamed: 15       323746
Unnamed: 16       323749
dtype: int64

In [83]:
# 欠損値の確認

print('プロジェクト名が空の行')
display(df[df['name '].isnull()])
# これは問題なさそう。気にせず使おう

print('カテゴリが空の行')
display(df[df['category '].isnull()])
# これは問題なさそう。気にせず使おう

print('使用資本金(？)が空の行')
display(df[df['usd pledged '].isnull()])
# ほとんどがstate=undefined
# パッと見currencyと相関がありそうだからこのカラムは使わなくていいや。
# キッチリ確認するなら↓この手順？余裕があったらやりたいけど一旦スキップ
# 質的変数(カテゴリカルデータ)を量的変数(離散値)に変換
# https://note.nkmk.me/python-pandas-get-dummies/
# 相関をヒートマップで可視化
# https://note.nkmk.me/python-pandas-corr/

プロジェクト名が空の行

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
142830,1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29 15:04:00,200000,2012-01-01 12:35:31,100,failed,1,US,100,NaN,NaN,NaN,NaN
262901,634871725,NaN,Video Games,Games,GBP,2013-01-06 23:00:00,2000,2012-12-19 23:57:48,196,failed,12,GB,317.7284362,NaN,NaN,NaN,NaN
265251,648853978,NaN,Product Design,Design,USD,2016-07-18 05:01:47,2500,2016-06-18 05:01:47,0,suspended,0,US,0,NaN,NaN,NaN,NaN
289847,796533179,NaN,Painting,Art,USD,2011-12-05 05:59:00,35000,2011-11-06 23:55:55,220,failed,5,US,220,NaN,NaN,NaN,NaN

カテゴリが空の行

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
36671,1218074363,I am Rupert,NaN,Webseries,Film & Video,GBP,2014-05-16 22:25:57,2000,2014-03-27 21:25:57,5,failed,1,GB,8.26779725,NaN,NaN,NaN
41069,124438738,BlanketPals TM,NaN,Interactive Design,Design,USD,2015-03-25 20:51:48,9750,2015-02-23 21:51:48,10890.45,successful,107,US,10890.45,NaN,NaN,NaN
63544,1378236004,{string&&loop} Knitting Craft with Code,NaN,Apparel,Fashion,USD,2016-05-28 00:00:00,1800,2016-04-29 21:04:40,2308,successful,119,US,2308,NaN,NaN,NaN
96753,1574873938,American Pin-up Revisitedd,NaN,Art,Art,USD,2014-04-03 17:52:09,7500,2014-03-04 17:52:09,100,failed,1,US,100,NaN,NaN,NaN
269930,676846639,Uplift: The Wearable iPhone Case with Zipline&...,NaN,Design,Design,USD,2011-04-04 20:08:17,50000,2011-03-05 20:08:17,1665,canceled,10,US,1665,NaN,NaN,NaN

使用資本金(？)が空の行

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
150,1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20 06:59:00,6500,2014-08-06 21:28:36,555,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
287,100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25 23:00:00,4500,2015-08-04 12:05:17,4767,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
549,1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09 21:06:13,3500,2015-03-10 20:06:13,3576,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
561,1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26 10:59:00,6000,2015-11-02 22:09:19,7007.8,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
650,1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21 06:00:00,3000,2016-02-23 03:09:49,3660.38,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
714,1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10 22:51:01,4000,2014-09-10 22:51:01,4760,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
730,1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11 04:00:00,5000,2015-05-15 02:12:35,6370,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
747,1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07 08:59:00,6000,2015-10-10 18:45:24,6695,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
751,1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28 18:28:27,2750,2015-02-11 19:28:27,2926,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
765,1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11 21:02:55,1200,2015-11-11 21:02:55,1585,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
883,1005185256,Local Music Connection,Music,Music,USD,2015-12-18 21:50:04,1500,2015-11-18 21:50:04,69,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
891,100522240,DO NOT DUPLICATE - Selected by 2015 Devon Film...,Film & Video,Film & Video,GBP,2015-04-10 23:07:00,1500,2015-03-11 22:07:00,277,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
963,1005653464,SA-4 Studios,Music,Music,USD,2015-03-25 17:33:14,5000,2015-01-24 18:33:14,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1073,1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31 21:48:31,2000,2014-10-02 22:48:31,2560,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1447,1008671527,The Fitness Mindset :-),Publishing,Publishing,EUR,2015-11-17 15:45:38,8000,2015-10-13 15:45:38,30,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1448,1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30 09:10:00,2000,2015-10-04 21:48:11,2079,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1475,1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11 23:23:40,2000,2014-09-10 23:23:40,2085,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1531,1009154868,Help advance scientific guitar & bass design,Music,Music,USD,2016-03-12 01:42:44,5000,2016-02-11 01:42:44,121,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1561,1009312309,Mr. Pickles,Publishing,Publishing,USD,2015-05-01 16:36:51,3750,2015-04-01 16:36:51,230,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1624,1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06 05:59:00,2500,2014-07-29 23:01:07,2720,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1685,1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31 22:37:00,2500,2015-05-14 23:05:51,2620,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1769,1010694326,Surrender,Music,Music,CAD,2015-01-30 08:59:00,5000,2014-12-29 01:27:30,5197,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1893,1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30 17:33:24,8000,2015-04-20 17:33:24,8361,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1978,1011952280,NHSOB Summer Festival 2015,Music,Music,GBP,2015-05-15 17:21:17,3000,2015-03-31 17:21:17,34,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1998,1012058337,Degobah Max,Music,Music,USD,2015-12-05 22:01:00,4500,2015-11-06 21:55:39,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2051,1012414277,WE ARE WHO WE ARE BUT WHATEVER WE WANT TO BE!!!,Music,Music,USD,2015-08-31 22:40:00,3000,2015-07-13 17:09:24,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2097,1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21 05:09:09,7500,2014-11-21 05:09:09,9329,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2102,1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26 19:46:26,5000,2016-04-26 19:46:26,5170,successful,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2122,1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06 13:44:33,6500,2016-01-07 13:44:33,6660.12,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
2232,1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09 15:22:18,3500,2015-05-10 15:22:18,207,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320925,982862687,Bydlo - A Novel,Publishing,Publishing,GBP,2015-06-01 12:51:16,3000,2015-04-02 12:51:16,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
320937,982919439,Faith,Film & Video,Film & Video,USD,2016-05-06 04:17:33,9000,2016-03-07 04:17:33,2,failed,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321068,983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05 05:59:00,8000,2015-11-19 23:43:09,8025,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321288,985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17 00:00:00,8000,2014-04-21 21:52:55,8562,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321473,986253191,"DEVELOP MAGAZINE FOR THE ARTS, MUSIC, AND DESI...",Publishing,Publishing,USD,2015-02-28 17:43:13,5000,2015-01-29 17:43:13,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321513,986471034,"Help Revival finish their new album, Guidance.",Music,Music,USD,2015-05-02 01:00:00,2500,2015-04-03 11:16:00,420,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321655,98744618,Vinyl for Dancing Pigeons!,Music,Music,SEK,2016-04-16 14:42:54,33000,2016-03-17 13:42:54,1105,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321896,988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03 00:55:19,6500,2015-10-04 00:55:19,7814,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
321973,989218116,Keep on Movin' - The Debut Album,Music,Music,GBP,2014-11-19 22:22:14,1300,2014-10-22 22:22:14,2,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322005,989499289,Sojourner,Music,Music,USD,2016-04-11 23:22:51,2500,2016-03-12 23:22:51,80,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322065,989874415,Love and Soul through Sound,Music,Music,USD,2015-06-27 02:15:00,3000,2015-05-28 17:17:08,45,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322321,991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28 02:58:24,5500,2015-01-29 02:58:24,5763,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322333,991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20 05:59:00,3400,2015-12-05 05:10:10,3435,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322382,991820324,The Blend CD 2015,Music,Music,USD,2015-05-15 00:07:51,8000,2015-04-15 00:07:51,8156,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322472,992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24 20:47:45,8500,2014-11-24 20:47:45,9146,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322730,994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19 03:42:11,3000,2014-07-18 03:42:11,3175,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322818,994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01 07:00:00,8000,2015-12-03 20:25:41,8061,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322881,994911312,"""Songwriter assistance"" service",Music,Music,CAD,2014-12-22 00:56:04,5000,2014-11-22 00:56:04,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
322883,994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11 04:25:00,6500,2015-03-25 03:55:53,6696,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323077,99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02 21:00:00,3000,2015-11-02 09:33:38,3517,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323198,996908566,The World Needs More Big Thinkers,Publishing,Publishing,USD,2015-09-13 03:01:31,8000,2015-07-30 03:01:31,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323275,99739483,No More Fear,Music,Music,GBP,2016-04-17 01:00:00,2500,2016-03-17 13:43:26,2500,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323313,997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01 05:59:00,8000,2015-01-31 20:58:01,8582,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323352,997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14 01:27:27,2000,2016-04-14 01:27:27,2300,successful,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323379,997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31 00:25:06,5000,2015-12-01 00:25:06,6065.26,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323391,997971307,"EQUUS International Film Festival®, all-equine...",Film & Video,Film & Video,USD,2015-02-03 04:19:14,7500,2014-12-05 04:19:14,10,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323456,998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23 00:30:09,3000,2014-04-08 00:30:09,3102,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323561,9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05 23:00:00,5000,2016-01-06 21:59:23,235,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323683,999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19 22:33:18,2000,2015-09-21 22:33:18,2125,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
323685,999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20 21:28:13,1600,2015-10-21 21:28:13,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN

In [87]:
# 目的変数はstate
ks_state = ks201612['state ']
display(ks_state.describe())

g = ks201612.groupby('state ')
display(g.size())
# 有効そうな値はこの辺り
#   canceled       32354
#   failed        168221
#   live            4428
#   successful    113081
#   suspended       1479
#   undefined       3555
# それ以外はノイズ。CSV読み込み時のカラムずれ？

count     323750
unique       410
top       failed
freq      168221
Name: state , dtype: object

state
0                 96
1                 15
10                10
100                8
1010               1
103                1
1035               1
1056               1
10564              1
106                1
10770              1
1085               1
10890.45           1
109                1
109301.56          1
110                5
1100               1
11044              2
11050              1
1111.11            1
111307.22          1
11315.5            1
1146               1
115                2
11558              1
11565              1
118                1
1181               1
1191               1
12                 2
               ...
8542               1
856                1
86                 1
860                1
8609.6             1
865                1
876                1
890                2
90                 3
900                2
9187               1
9210.69            1
9337               1
936                1
938                1
9430.8             1
95                 1
950                1
9500               1
97                 1
971                1
9748               1
9857.8             1
9951               1
canceled       32354
failed        168221
live            4428
successful    113081
suspended       1479
undefined       3555
Length: 410, dtype: int64

## 3. 有効な説明変数を見つける

## 4. 線形回帰/ロジスティック回帰を適用する

## 5. 予測精度/識別精度を確認する

## 6. Githubで公開する

~~~sh
$ cd ~/Desktop/ml_tokyo_8/git
$ git checkout -b day1

$ git status
$ git add Day1_work_鈴木雅彦.ipynb .ipynb_checkpoints/
$ git commit -m 'xxxxx'

$ git push origin day1
~~~

[ml_tokyo_8/Day1_work_鈴木雅彦.ipynb at day1 · msuz/ml_tokyo_8](https://github.com/msuz/ml_tokyo_8/blob/day1/Day1_work_%E9%88%B4%E6%9C%A8%E9%9B%85%E5%BD%A6.ipynb)